body{
  margin: 0;
  padding: 0;
  overflow:hidden;
}
.pai{
  
  width: 100%;
  height: 100vh;
  display: flex;
  
  justify-content: center;
  align-items: center;
  
}
.box01 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.pai h1{
  text-align: center;
}
.filho  {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 70%;
  height: 60%;
  border-radius: 15px;
  border: 1px solid;
  outline: none;
}
